<div class="poem">
  <p class="line">Out of the night that covers me, </p>
  <p class="line">Black as the pit from pole to pole, </p>
  <p class="line">I thank whatever gods may be </p>
  <p class="line">For my unconquerable soul. </p>
  <p class="line">In the fell clutch of circumstance </p>
  <p class="line">I have not winced nor cried aloud. </p>
  <p class="line">Under the bludgeonings of chance </p>
  <p class="line">My head is bloody, but unbowed. </p>
  <p class="line">Beyond this place of wrath and tears </p>
  <p class="line">Looms but the Horror of the shade, </p>
  <p class="line">And yet the menace of the years </p>
  <p class="line">Finds and shall find me unafraid. </p>
  <p class="line">It matters not how strait the gate, </p>
  <p class="line">How charged with punishments the scroll, </p>
  <p class="line">I am the master of my fate, </p>
  <p class="line">I am the captain of my soul. </p>
  <h5>-- William Ernest Henley --</h5>
</div>

<h2>Master your fate</h2>